header {
  padding: 16px;
  background-color: #333;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

ul > li {
  padding: 8px;
  font-weight: 600;
  cursor: pointer;
  background-color: #ff0;
}